@model GameSchool.Models.dbLINQ.AssignmentModel

@{
    ViewBag.Title = "GameSchool | Verkefni | " + @Model.Name;
}

<h2>@Model.Name</h2>

<div class="VerkBody">
    <h4>Verkefnalýsing</h4>
    <p id="VerkLýsing"> @Model.Description</p>
</div>


 <fieldset class="Takkar">
      <legend id="VerkSkilTexti">Veldu skrá til að skila</legend>
           <input id="SkráVerk" type="file" value="Velja skrá" />
           <input id="Vista" type="submit" value="Senda inn" />
 </fieldset>