@model GameSchool.Models.dbLINQ.AssignmentModel

@{
    ViewBag.Title = "GameSchool | Verkefni | " + @Model.Name;
}

<h2>@Model.Name</h2>

<div class="AssignBody">
    <legend><h3 class="StudentHeadings">Verkefnalýsing</h3></legend>
    <p> @Model.Description</p>
</div>


 <fieldset class="AssignButtons">
      <legend>Veldu skrá til að skila</legend>
           <input id="UploadAssign" type="file" value="Velja skrá" />
           <input class="SaveChanges" type="submit" value="Senda inn" />
 </fieldset>