@model IEnumerable<GameSchool.Models.dbLINQ.TestModel>
         
@foreach (var item in Model)
{
    <div class="TestList">
        @Html.ActionLink(item.Name, "TakeTest", new { testID = item.ID })
    </div>
}