@model GameSchool.Models.ViewModels.TeacherViewModels.CourseTestViewModel

@foreach (var level in Model.Levels)
{
    <div class="TeacherCourseAssignmentsTests">
        <h3>@level.NumberInCourse. @level.Name</h3>
        @foreach (var test in Model.Tests)
	    {
            if (test.LevelID == level.ID)
            {   
                <div class="TeacherAssignmentsTests">
                    <p>@test.Name</p>
                </div>
            }
	    }
    </div>
}