@{
    ViewBag.Title = "The Crew";
}

<div>
    <img class="PictureBoyz" src="../../Content/Images/Bjarki Sörens.png" alt="Bjarki Sörens" />
    <p class="TheBoyz">Bjarki Sörens</p>
</div>

<div>
    <img class="PictureBoyz" src="../../Content/Images/Björn Heiðar Rúnarsson.jpg" alt="Björn Heiðar Rúnarsson" />
    <p class="TheBoyz">Björn Heiðar Rúnarsson</p>
</div>

<div>
    <img class="PictureBoyz" src="../../Content/Images/Brynjar Þór Friðleifsson.jpg" alt="Brynjar Þór Friðleifsson" />
    <p class="TheBoyz">Brynjar Þór Friðleifsson</p>
</div>

<div>    
    <img class="PictureBoyz" src="../../Content/Images/Haukur Stefánsson.jpg" alt="Haukur Stefánsson" />
    <p class="TheBoyz">Haukur Stefánsson</p>
</div>
    
<div>
    <img class="PictureBoyz" src="../../Content/Images/Tindur Hrafn Júlíusson.jpg" alt="Tindur Hrafn Júlíusson" />
    <p class="TheBoyz">Tindur Hrafn Júlíusson</p>
</div>
   
<div>    
    <img class="PictureBoyz" src="../../Content/Images/Tómas Magnússon.png" alt="Tómas Magnússon" />
    <p class="TheBoyz">Tómas Magnússon</p>
</div>
