@{
    ViewBag.Title = "About Us";
}

<h2>The matrix has you...</h2>
<p>
     
</p>
<div>
    <meter id="shitter" value= max="100">55%</meter>
    <button id="butter">+</button>

</div>

<script type="text/javascript">
    var el = document.getElementById("shitter");
    var button = document.getElementById("butter");
    button.onclick = function () {
            el.value++;        
    };
        

</script>