@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about penisis go to <a href="http://pen.is" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<article>
    <h2>A new slogan shocks world</h2>
    <p>
    Death is the solution to all problems
    </p>
</article>

<article>
    <h2>Derp</h2>
    <p>
    Herpaderp
    </p>
</article>
