@{
    ViewBag.Title = "GameSchool | Hafa samband";
}

<h2>Hafðu samband!</h2>

<img alt="Mynd af múrsteinaveggi" src="../../Content/Images/Background_brick_wall.jpg" />

<a href="mailto:nigger@gmail.com">Sendu okkur póst!</a>