
/*OUR OWN CSS*/

.RankList
{
    display: inline-block;
}

#Ranking
{
    padding-bottom: 8px;
    padding-top: 17px;
    border: 2px solid #70D6EE;
}

.PictureBoyz
{
    width: 480px;
    height: 390px;
}

.TheBoyz
{
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 15px;
}

#Slogan
{
    font-size: 100%;
    color: White;
    float: right;
    padding-right: 10px;
}

#SloganDiv
{
    display: inline-block;
    float: right;
    position: relative;
    right: 80px;
    margin-top: 10px;
}

.comments
{
	list-style-type: none;
	margin: 0;
	padding: 0;	
	/*float: left;*/
	width: 480px;
}

.comments
{
	background-color: #EDEFF4;
	border-bottom: 1px solid #E5EAF1;
	margin-top: 2px;
	padding: 5px 5px 4px;	
	overflow: hidden;
	width: 412px;
}

.commentBody > a > img
{
	width: 55px;
	height: 55px;
	border: 0;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.commentBody
{
    margin-bottom: 0px;
	padding-top: 2px;	
	display: table-cell;
	vertical-align: top;
	width: 410px;
}

.commentBody > a
{
	font-weight: bold;	
	cursor: pointer;
	color: #3B5998;
	text-decoration: none;	
}

.commentBody > div > abbr
{
	border-bottom: none;
	color: gray;
	font-weight: normal;
	font-size: 11px;
}

.commentBody > div > a
{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 100%;
	overflow: visible;
	width: auto;
	text-align: left;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	color: #3B5998;	
}

#AddComment
{
    padding-left: 25px;
    /*float: left;*/
}

.commentList
{
    list-style: none;
}

.commentList > textarea
{
	height: 40px;	
	display: inline-block;
	width: 415px;
	overflow: hidden;
	color: black;
	border: 1px solid #BDC7D8;
	font-size: 11px;
	padding: 3px;
	margin: 3px;
	left: -29px;
	position: relative;
}

.commentList > label
{
    float: right;
	margin-top: 5px;
	background-color: #5B74A8;
	border: 1px solid #999;
	border-color: #29447E #29447E #1A356E;	
	/* border-bottom-color: #888; */
	background: #EEE url("../Images/Background.png") repeat 0 0;
	background-position: 0 -48px;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: normal !important;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;	
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	margin-right: 32px;
}

.commentList > label > input
{
	color: Black;
	background: none;
	border: 0;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	outline: none;
	padding: 1px 0 2px;
	white-space: nowrap;
}
#error
{
    color: Red;
}

.like
{
    text-decoration : none;
}

#RememberMe
{
    float: left;
    padding-right: 10px;
}

.SaveChanges
{
    color: Black;
	background: none;
	background-color: #D3D3D3;
	border: 0;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	outline: none;
	padding: 4px 7px 4px 7px;
	white-space: nowrap;
	margin-top: 15px;
}

/*  CSS fyrir próf  */

.question
{
    margin: 20px;
    border-bottom: 1px solid gray;
}

 .question > ul
 {
     list-style: none;
     font-style: italic;
 }
 
 /* CSS fyrir verkefni */
 
 .AssignBody
 {
    margin-top: 15px;  
 }
 
 .AssignBody > h4
 {
     margin-bottom: 8px;
 }
 
 .AssignBody > p
 {
    border-top: 5px solid white;
 }
 
 .AssignButtons
 {
    margin-top: 25px;   
 }
 
.AssignButtons > legend
 {
    font-size: 130%;
 }
 
 #UploadAssign
 {
     padding-top: 5px;
 }

/* CSS fyrir ProfileManagement */

#ChangeInfo
{
    font-size: 130%;
    padding-top: 10px;
    margin-bottom: 5px;
}

.editor-label
{
    padding-top: 8px;
}

.editor-field > img
{
    padding: 50px 0 30px 0;
    width: 270px;
    height: 280px;
}

/* CSS fyrir Admin */

.UserList
{
    padding-bottom: 8px;
    font-size: 130%;
}

table
{
    width: 70%;
}

th
{
    height: 30px;
    background-color: White;
    border: 1px solid #70D6EE;
}

td
{
    border-right: 1px solid #70D6EE;
    border-left: 1px solid #70D6EE;   
}

tbody
{
    border-bottom: 1px solid #70D6EE;
}

tr:nth-of-type(odd)
{
    background-color: #F5F5F5
}

#BobSaget
{
    padding-top: 20px;
}

#NewCourseButton
{
    padding-top: 15px;
}

.ChangeCreateUser
{
    font-size: 130%;
}

.UserTable
{
    margin-bottom: 10px;
}

.UserTableNames
{
    padding-bottom: 5px;
}


/* CSS fyrir áfanga síður nemenda */

.StudentHeadings
{
    padding-bottom: 5px;
}

#CourseText
{
    padding-bottom: 20px;
}

.tabbable
{
    width: 680px;
}

.TestList
{
    padding-bottom: 10px;
}

.tab-content
{
    width: 750px;
}

.span3
{
    float: right;
}

#ListOfTeacherFace
{
    margin-left: 0;
}

#NotificationsFromTeacher
{
    list-style: none;
    padding-top: 5px;
}

#NewsFeedTeacherFace
{
    padding-top: 5px;
    height: 40px;
    width: 40px;
    float: left;
}

.ListOfNewThings
{
    list-style: none;
}

.NewStuffForStudents
{
    margin-left: 0;
    margin-right: -60px;
}

.HeadingsForNewStuff
{
    margin-bottom: 8px;
    margin-right: -60px;
}

.navig
{
    margin-left: 15px;
}

.LevelDesc > h3
{
    padding-top: 10px;
}

#StudentNewsFeed1
{
    float: left;
}

#StudentNewsFeed2
{
    float: left;
    margin-left: 40px;
}

#StudentNewsFeed3
{
    display: inline-block;
    margin-left: 67px;
    margin-right: -20px;
}

#StudentNewsFeed4
{
    display: inline-block;
    width: 500px;
}
#StudentNewsFeed5
{
    display:inline-block;
}
#StudentNewsFeed6
{
    display: inline-block;
    padding: 30px;
    background-color: #DFF0D8;
    border-radius: 14px;
    
}
.thumbnailImg
{
    height: 160px;
    width: 160px;
}

#Home
{
    margin: 25px 0 0 25px;
}

.StudentCourseStuff
{
    margin-left: 25px;
}

/* CSS fyrir navigation bar */

#profileimage
{
    max-width: 150px;
}

#menu1
{
    list-style: none;
}

.YourTeachersFace
{
    height: 50px;
    width: 55px;
    margin-right: 7px;
    margin-bottom: 5px;
}

#YourTeachers
{
    margin-top: 10px;
    font-weight: bold;
}

#TheTeachers
{
    margin-right: -30px;
}

/* Style fyrir Side scroller í navigation */
#demo-frame > div.demo { padding: 10px !important; }
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { width: 500px; float: left; }
.scroll-content-item { width: 100px; height: 150px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

#lvl
{
    position:relative;
    border-radius: 120px;
    background: #000;
    color : white;
    padding : 7px 9px;
    position: relative; 
    top:-20px;
    right: -125px;
}
#profileimage
{
    margin: 0 auto;
    display: block;
}
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

/* CSS fyrir Búa til próf */

.AddAnswer
{
    list-style-type:none;   
}
progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
    border: 2px solid #000000;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-size: auto;
}
progress,                          
progress[role][aria-valuenow] {    
   background: #F5F5F5 !important; 
}

progress::-webkit-progress-bar {
    background:  #F5F5F5;
}

progress value {
    color: blue;
}

progress::-moz-progress-bar {
    background: black;
}

progress::-webkit-progress-value {
    background: red;
}

progress[aria-valuenow]:before  {
    background: black;
}

#XpProgress
{

    border: 3px solid #4BBEEE;
    bottom: -1500px;
    
}
progress::-webkit-progress-value
 {
    background: black;
}

/* CSS fyrir kennara */

.CreateLevelSub
{
    padding-bottom: 20px;
    float: left;
}

    