@model System.Int32
@{
    ViewBag.Title = "AssignmentCompleted";
}

<h2>Þú hefur nú þegar klárað þetta verkefni</h2>

<div id="AssignmentCompletion">
    @Html.ActionLink("Til baka í áfanga", "GetCourse", new { id = Model})
</div>