@model GameSchool.Models.ViewModels.LevelViewModel
           
<h2>@Model.TheLevel.NumberInCourse. @Model.TheLevel.Name</h2>

<legend class="LevelDesc">
    <h3 class="StudentHeadings">Borðalýsing</h3>
</legend>

<p>@Model.TheLevel.Description</p>

<legend class="LevelDesc">
    <h3 class="StudentHeadings">Verkefni</h3>
</legend>