@model  GameSchool.Models.ViewModels.NavigationViewModel

   <li class="nav-header">
        Þinn Prófíll
        <div id="profile">
                <div id="profileimage">
                    <img src="@Model.TheImage.Source" alt="Mynd af þínu fési"/>
                </div>
                 <div id="profileinfo">
                    <p>Nafn: @Model.TheUser.m_User.Name</p>
                 </div>
        </div>
   </li>
       
   <li class="nav-header">Your Courses</li>
   <ul>
   @foreach (var item in Model.TheCourses)
    {
            <li>@Html.ActionLink(item.Name, "/GetCourse/" + item.ID, "Student")</li>
    }
    </ul>
                                    
  <li class="nav-header">Your Teachers Face!</li>
        <div id="teacherForStudent">
            <div id="teacherimage">
                @foreach (var item in Model.TeachersImages)
                {
                    <img src="@item.Source" alt="Mynd af kennaranum þínum" />
                }
            </div>
        </div>