@{
    ViewBag.Title = "GameSchool";
}

<h2>@ViewBag.Message</h2>
<img src="http://i.imgur.com/8QzMo.gif" id="filler"/>
<div class="offset7 span3">
<ul class="nav-pills nav-stacked">
     @Html.Action("XPList", "Student")
</ul>
</div>