@model IEnumerable<GameSchool.Models.dbLINQ.CourseModel>
@{
    ViewBag.Title = "GameSchool";
}

<h2>@ViewBag.Message</h2>

<!--<nav id="Navigation">
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "/GetCourses/" + item.ID, "StudentController")</li>
        }
    </ul>
</nav>
-->