@model IEnumerable<GameSchool.Models.dbLINQ.CourseModel>
           
           <table>
           <caption>Áfangalisti</caption>
           <thead>
                <tr>
                    <th>Heiti</th>
                    <th>Lýsing</th>
                    <th>Aðgerð</th>                
                </tr>
           </thead>
           <tbody>
           @foreach (var item in Model)
           {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("Breyta", "EditCourse/" + item.ID, "Admin")</td>
                </tr>

           }
           </tbody>
           </table>

