@model IEnumerable<GameSchool.Models.dbLINQ.CourseModel>

@{
    ViewBag.Title = "GetCourses";
}

<h2>Áfangar</h2>
<legend> </legend>
@Html.Partial("CourseListPartial")

<div id="NewCourseButton">
@Html.ActionLink("Nýr áfangi", "CreateCourse", "Admin")
</div>
