

/*OUR OWN CSS*/

.comments
{
	list-style-type: none;
	margin: 0;
	padding: 0;	
	/*float: left;*/
	width: 480px;
}

.comments
{
	background-color: #EDEFF4;
	border-bottom: 1px solid #E5EAF1;
	margin-top: 2px;
	padding: 5px 5px 4px;	
	overflow: hidden;
	width: 412px;
}

.commentBody > a > img
{
	width: 55px;
	height: 55px;
	border: 0;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.commentBody
{
    margin-bottom: 0px;
	padding-top: 2px;	
	display: table-cell;
	vertical-align: top;
	width: 410px;
}

.commentBody > a
{
	font-weight: bold;	
	cursor: pointer;
	color: #3B5998;
	text-decoration: none;	
}

.commentBody > div > abbr
{
	border-bottom: none;
	color: gray;
	font-weight: normal;
	font-size: 11px;
}

.commentBody > div > a
{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 100%;
	overflow: visible;
	width: auto;
	text-align: left;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	color: #3B5998;	
}

#AddComment
{
    float: left;
}

.commentList > textarea
{
	height: 40px;	
	display: inline-block;
	width: 390px;
	overflow: hidden;
	color: black;
	border: 1px solid #BDC7D8;
	font-size: 11px;
	padding: 3px;
	margin: 3px;
}

.commentList > label
{
    float: right;
	margin-top: 5px;
	background-color: #5B74A8;
	border: 1px solid #999;
	border-color: #29447E #29447E #1A356E;	
	/* border-bottom-color: #888; */
	background: #EEE url("../Images/Background.png") repeat 0 0;
	background-position: 0 -48px;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: normal !important;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;	
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.commentList > label > input
{
	color: Black;
	background: none;
	border: 0;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	outline: none;
	padding: 1px 0 2px;
	white-space: nowrap;
}
#error
{
    color: Red;
}

.like
{
    text-decoration : none;
}

/*  CSS fyrir próf  */

.question
{
    margin: 20px;
    border-bottom: 1px solid gray;
}

 .question > ul
 {
     list-style: none;
     font-style: italic;
 }
 
 /* CSS fyrir verkefni */
 
 .VerkBody
 {
    margin-top: 15px;  
 }
 
 .VerkBody > h4
 {
     margin-bottom: 8px;
 }
 
 #VerkLýsing
 {
    border-top: 5px solid white;
 }
 
 .Takkar
 {
    margin-top: 25px;   
 }
 
 #VerkSkilTexti
 {
    font-size: medium;
 }
 
 #SkráVerk
 {
     padding-top: 5px;
 }
 
#Vista
{
    color: Black;
	background: none;
	background-color: #D3D3D3;
	border: 0;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	outline: none;
	padding: 1px 4px 1px 4px;
	white-space: nowrap;
}